.box
{
    display:flex;
    flex-direction: row;
}
.drop
{
    height: 45px;
    width: 100px;
}
.data
{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}


@media only screen and (max-width: 768px) {
    .image-cont {
        display: none;
    }
}