.img-container h2{
    font-size: 45px;
}

.img-container span{
    font-size:25px ;
}

.login-container h3{
    font-size: 25px;
    font-weight: bold;
    color: tomato;
}

.login-btn{
    border: 0.1em tomato solid;
    color: tomato;
    font-weight: bold;
}
.login-btn:hover{
    background-color: tomato;
    color: #fff;
}
.login{
    display: flex;
    flex-direction: column;
    align-self:center; 
}

.login-form{
    display: flex;
    flex-direction: column;
    align-self:center;
    
}

@media screen and (max-width: 992px) 
{
  .main-image
  {
    width: 100%;
  }
}
@media screen and (max-width: 760px) 
{
    .img-container span{
        font-size:15px ;
    }
    
}