.imgcont h2{
  font-size: 45px;
}

.imgcont span{
  font-size:25px ;
}
.main-image1 {
 max-width: 100%;
 height: auto;
}
.login-form1
{
  display: flex;
  flex-direction: column;
}
.plac
{
  width: 90%;
}

.login-container1 h3{
  font-size: 25px;
  font-weight: bold;
  color: tomato;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btn1{
  border: 0.1em tomato solid;
  color: tomato;
  font-weight: bold;
}
.login-btn1:hover{
  background-color: tomato;
  color: #fff;
}

.fav-btn1{
  border: 0.1em tomato solid;
  color: tomato;
  font-weight: bold;
}
.fav-btn1:hover{
  background-color: tomato;
  color: #fff;
}
.add-fav{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 992px) 
{
  .main-image1
  {
    width: 100%;
  }
}
@media screen and (max-width: 760px) 
{
    .img-container1 span{
        font-size:15px ;
    }
    
}